# Ignore everything in except:

/*
!.gitignore
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
# and "mu-plugins"
wp-content/*
!wp-content/plugins/
!wp-content/mu-plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins listed below
wp-content/plugins/*
!wp-content/plugins/advanced-custom-fields
!wp-content/plugins/advanced-custom-fields-pro
!wp-content/plugins/helsingborg-kiosk
wp-content/plugins/helsingborg-kiosk/log/*
!wp-content/plugins/helsingborg-social-media
!wp-content/plugins/acf-unique_id

# Ignore everything in the "themes" directory, except the Kiosk theme
wp-content/themes/*
!wp-content/themes/helsingborg_kiosk
wp-content/themes/helsingborg_kiosk/node_modules
wp-content/themes/helsingborg_kiosk/node_modules/*
wp-content/themes/helsingborg_kiosk/assets/css/dist
wp-content/themes/helsingborg_kiosk/assets/js/dist
wp-content/plugins/helsingborg-kiosk/log/cron_import_places.log
