body {
    position: relative !important;

    background-color: #f6f5f2;
    margin: 0 auto;
    padding: 0;

    font-family: $base-font-family;
    font-size: $base-font-size;

    width: 1080px;
    height: 1920px;
}

html {
	background: rgba(#000,.4);
}

// Site wrapper that should wrap the main site elements
//
// Markup:
// <div class="site-wrapper"></div>

.site-wrapper {
    background-color: #fff;
}

// Container element
//
// Markup:
// <div class="container"></div>

.container {
    margin: 0 auto;
    max-width: $container-max-width;
    width: 100%;
}

// Row
// Foundation row
//
// Markup:
// <div class="row"></div>

.row {
    max-width: none;
    width: 100%;

    & + .row {
        margin-top: 30px;
    }
}

ul.row {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// Responsive image
//
// Markup:
// <img class="responsive" src="image.jpg">

img.responsive {
    max-width: 100%;
    width: 100%;
    height: auto;
}

// Prepends a link indicator icon before the link text
//
// .link-item-light         - Lighter link item icon and text color (works on dark background)
//
// Markup:
// <a class="link-item {{modifier_class}}" href="#">Link</a>

.link-item {
    $padding-left: 20px;
    position: relative;
    left: 20px;
    padding-right: $padding-left;

    &::before {
        @include hbg-icon($icon-link-arrow);
        display: inline-block;
        margin-right: 6px;
        color: rgba(0,0,0,.4);
        margin-left: -$padding-left;
        text-decoration: none;
    }
}

.link-item[href*="//"]:not([href*="helsingborg.se"]) {
    &::before {
        @include hbg-icon($icon-link-outbound);
        display: inline-block;
        margin-right: 6px;
        color: rgba(0,0,0,.4);
    }
}

.link-item-light {
    &::before {
        color: rgba(255,255,255,.7);

        @media print {
            color: rgba(#000, .5) !important;
        }
    }
}

// Prepends a pdf icon before the link text
//
// .pdf-item-light              - Light pdf icon
//
// Markup:
// <a class="pdf-item {{modifier_class}}" href="#">Link</a>

.pdf-item {
    &::before {
        @include hbg-icon($icon-pdf);
        display: inline-block;
        margin-right: 8px;
        color: rgba(0,0,0,.4);
    }
}

.pdf-item-light {
    &::before {
        color: rgba(255,255,255,.7);
    }
}

// Preprends a MS Word icon before link text
//
// Markup:
// <a class="pdf-item" href="#">Link</a>

.word-item {
    &::before {
        @include hbg-icon($icon-word);
        display: inline-block;
        margin-right: 8px;
        color: rgba(0,0,0,.4);
    }
}

.btn-default {

}













article {

	h1,h2,h3,h4,h5,h6,h7 {
		line-height: 140%;
		padding-bottom: .5em;
		margin: 0;

		&.heading {
			line-height: 120%;
			color: #cb0050;
			font-size: 2.4em;
		}
	}

	ul,ol,p {
		line-height: 160%;
		font-size: 1.02em;
		padding-bottom: 1em;
		margin-bottom: 0;
		&:last-child {
			padding-bottom: 0;
		}
	}

	p + h2, p + h3,p + h4, p + h5, p + h6, p + h7,
	ol + h2, ol + h3,ol + h4, ol + h5, ol + h6, ol + h7,
	ul + h2, ul + h3,ul + h4, ul + h5, ul + h6, ul + h7,
	blockquote +  h2, blockquote +  h3,blockquote +  h4, blockquote +  h5, blockquote +  h6, blockquote +  h7 {
		padding-top: 15px*2;
	}

	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.4em;
	}

	h3 {
		font-size: 1.3em;
	}

	h4 {
		font-size: 1.2em;
	}

	h5 {
		font-size: 1.1em;
	}

	h6 {
		font-size: 1.1em;
	}

	h7 {
		font-size: 1.1em;
	}

	blockquote {
		border-left: 3px solid #ccc;
		margin-bottom: 15px;
		padding: 20px 35px;
		quotes: "\201C""\201D""\2018""\2019";
	}
	blockquote:before {
		color: #ccc;
		content: open-quote;
		font-size: 2em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}

	blockquote:after {
		color: #ccc;
		content: close-quote;
		font-size: 2em;
		line-height: 0.1em;
		margin-left: 0.25em;
		vertical-align: -0.4em;
	}

	blockquote p {
		display: inline;
		margin: 0;
	}

	.row {
		[class*=' col-'] {
			&:first-child {
				p:first-of-type {
					font-style: italic;
					font-weight: bold;
					font-size: 1.1em;
				}
			}
		}

	}

}
