.event-list {
    position: relative;
    margin: 0 -10px; 
    
    &:after {
	    content: "";
	    clear: both; 
	    position: relative;  
    }
}

.event-item {
	
	display: block; 
	width: 33.333%; 
	float: left; 
	padding: 10px; 
	height: 420px; 
	
	&:hover {
		text-decoration: none; 
		outline: none; 
		appearance: none; 
	}
	
	span {
		display: block; 
	}

    .btn {
        font-size: .8em;
    }
    
    .index-description {
		display: none; 
    }
    
    .index-date,
    .index-place {
	    display: block; 
	    padding: 10px 15px; 
	    background: $creamy;
	    border: 1px solid $creamy-darker; 
	    position: absolute; 
	    height: 40px; 
	    
	    top: auto; 
	    right: auto; 
	    bottom: 0; 
	    left: auto; 
    }
    
    .index-date {
	    bottom: 50px; 
    }
    
    .event-inner {
	   padding: 10px; 
	   background: #fff; 
	   border: 1px solid $creamy-darker; 
    }
    
    &:not(.event-item-open):hover,
	&:not(.event-item-open):focus {
		text-decoration: none; 
		appearance: none; 
		
		.event-inner {
			text-decoration: none;
	        color: $text-default;
	        transform: scale(1.05);
	        z-index: $level-top;
	        box-shadow: 0 0 30px rgba(#000, .6);
	        apperance: none;
	        outline: none;
		}
	}
}

$modal-header-height: 400px; 

.event-item-open {
	z-index: 999;
}

.event-item-open .event-inner {
    position: absolute;
    z-index: 999;
    
    top: 0; 
    left: 0;
    right: 0;
    height: 850px; 
    
    padding: 0; 
    border: none; 
    box-shadow: 3px 0 20px rgba(#000,.2); 
    
    &:after {
	    content:  ""; 
	    clear: both; 
    }
    
    .index-container {
	    padding-top: 0; 
    }
    
    .index-caption {
	    font-size: 3em; 
		height: $modal-header-height;
		line-height: $modal-header-height;
		text-align: center;
		display: block; 
		background-color: rgba(#e3000f,.8); 
	    
	    span {
		    display: inline-block;
			vertical-align: middle;
			line-height: 130%;  
			color: #fff; 
			width: 80%; 
			margin-left: auto; 
			margin-right: auto; 
		}
    }
    
    .index-description {
	    display: block;
	    color: $text-default; 
	    font-size: .8em; 
	    padding: 40px; 
	    line-height: 140%; 
	    height: 315px; 
	    position: relative; 
	    
	    &:after {
		    @include gradient(rgba(#fff,0),rgba(#fff,1)); 
		    display: block; 
		    content: ""; 
		    position: absolute; 
		    top: auto; 
		    right: 0; 
		    bottom: 0; 
		    left: 0; 
		    height: 100px; 
	    }
    }
    
    .event-image {
		position: absolute;
		height: $modal-header-height;
		padding-top: 0;
		
		&:not(.image-missing) {
		    
		    
		    &:after {
			 	content: ""; 
			 	@include fillall(); 
			 	filter: blur(3px);
			 	background: inherit;    
		    }
	    }
    }
    
    .index-container {
	    height: inherit; 
    }
    
    .index-date, 
    .index-place {
	    left: 40px; 
	    right: 40px; 
	    margin-bottom: 40px; 
    }
    
}

.event-backdrop {
    background-color: rgba(#000, .8);
    @include fillall;
    top: 217px;
    z-index: $level-9;
    display: none;
}

.event-image {
    width: 100%;
    padding-top: 60%;
    background-size: cover;
    background-position: center center;
    position: relative; 
    background-color: #eee; 
    overflow: hidden; 
    
    &.image-missing:after {
	    @include center(); 
	    content: attr(data-missing-image);
		text-transform: uppercase; 
		color: rgba(#000,.2); 
    }
}

.index-container {
    display: block;
    position: relative;
    padding: 10px 0 0 0; 
    height: 200px;
    overflow: hidden;
}

.index-description {
    display: block;
    margin-top: 5px;
    font-weight: 400;
    font-size: .7em;
    white-space: break-word;
    line-height: 130%; 
}

.index-date,
.index-place {
    font-size: .7em;
    letter-spacing: 0;
    font-weight: normal;
    color: $text-default; 
}

.index-caption {
    display: block;
    line-height: 130%;
    color: $palette-red-4;
}

#event-backdrop {
	@include fillall(); 
	background-color: rgba(#000,.2); 
	top: -743px; 
}