$dot-size: 30px;

.flickity-page-dots {
	counter-reset: numbered-list-item;
	bottom: -23px;

	.dot {
		position: relative;
		height: $dot-size;
		width: $dot-size;
		line-height: $dot-size;
		text-align: center;
		font-size: $dot-size - 15;
		margin: 0 3px;

		&.is-selected {
			background-color: $palette-red-3;
		}

		&::after {
			counter-increment: numbered-list-item;
            content: counter(numbered-list-item);

            display: block;
            color: #fff;
		}
	}
}

.flickity-prev-next-button {
	top: 91%;
	background: $palette-red-2;
	height: 50px;
	border-radius: 0;
	width: 48%;

	&:hover,
	&:focus {
		background: $palette-red-2;
	}

	&.previous {
		left: -1px;

		svg {
			margin-right: -2px;
		}
	}

	&.next {
		right: -1px;
	}

	svg {
		fill: #fff !important;

		* {
			fill: #fff !important;
		}
	}
}