
	.js-flickity {
		
		.flickity-slider {
			
			ul, div {
				opacity: 0; 
				transition: all 200ms ease; 
			}
			
			> ul.is-selected, 
			> div.is-selected {
				opacity: 1; 
			}
			
		}
		
		.flickity-page-dots {
			
			padding: 40px; 
			
			.dot {
				transition: all 100ms ease; 
				width: 15px; 
				height: 15px; 
				margin: 0 10px; 
				
				&.is-selected {
					background-color: #cb0050; 
					transform: scale(1.2); 
				}	
				
			}
		}
		
	}
	
	.hand-gestrure-swipe {
		@include center; 
		z-index: 60; 
		font-size: 6em; 
		margin-top: 1em; 
		opacity: .8; 
		
		i {
			animation-delay: 1s;
			animation-iteration-count: 2;
		}
		
		&.has-ended {
			display: none !important; 
		}
	}