$dot-size: 40px;

.flickity-page-dots {
	counter-reset: numbered-list-item;
	bottom: 23px;

	.dot {
		position: relative;
		height: $dot-size;
		width: $dot-size;
		line-height: $dot-size;
		text-align: center;

		&.is-selected {
			background-color: $palette-red-3;
		}

		&::after {
			counter-increment: numbered-list-item;
            content: counter(numbered-list-item);

            display: block;
            color: #fff;
            text-indent: 1px;
		}
	}
}

.flickity-prev-next-button {
	top: 95%;
	background: $palette-red-2;
	height: $dot-size;
	width: $dot-size;

	&:hover,
	&:focus {
		background: $palette-red-2;
	}

	&.previous svg {
		margin-right: -2px;
	}

	svg {
		fill: #fff !important;

		* {
			fill: #fff !important;
		}
	}
}