@mixin color-repeater {
    &:nth-child(10n+1) a {
        background-color: $palette-red-1;
    }

    &:nth-child(10n+2) a {
        background-color: $palette-red-2;
    }

    &:nth-child(10n+3) a {
        background-color: $palette-red-3;
    }

    &:nth-child(10n+4) a {
        background-color: $palette-red-4;
    }

    &:nth-child(10n+5) a {
        background-color: $palette-red-5;
    }

    &:nth-child(10n+6) a {
        background-color: $palette-red-3;
    }

    &:nth-child(10n+7) a {
        background-color: $palette-red-1;
    }

    &:nth-child(10n+8) a {
        background-color: $palette-red-5;
    }

    &:nth-child(10n+9) a {
        background-color: $palette-red-2;
    }

    &:nth-child(10n+10) a {
        background-color: $palette-red-4;
    }
}

.metro-grid {
    $items-per-row: 4;
    $items-margin: 5%;

    list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        display: inline-block;

        padding: 0;
        margin: 0;

        $item-size: 100% / $items-per-row;

        width: $item-size;
        padding-bottom: $item-size;
        height: 0;

        font-size: $item-size/10% + rem;

        @include color-repeater;

        a {
            position: absolute;
            @include fillall;
            margin: $items-margin;

            color: #fff;
            font-weight: bold;

            text-align: center;

            transition: 100ms;

            &:focus,
            &:hover {
                transform: scale(1.1);
                background-color: #fff;
                color: $text-default;
                box-shadow: 0 0 50px rgba(#000, .8);
            }
        }
    }
}

.metro-grid-item-content {
    $icon-size: 4em;
    @include center;

    [class*="ion-"] {
        display: block;
        text-align: center;
        font-size: $icon-size;
        margin-bottom: -.2em;
        margin-top: -.1em;
    }
}

.metro-grid-item-image {
    @include fillall;
    background-size: cover;
    background-position: center center;
    opacity: .15;
}