@mixin color-repeater {
    &:nth-child(10n+1) a {
        background-color: $palette-red-1;
    }

    &:nth-child(10n+2) a {
        background-color: $palette-red-2;
    }

    &:nth-child(10n+3) a {
        background-color: $palette-red-3;
    }

    &:nth-child(10n+4) a {
        background-color: $palette-red-4;
    }

    &:nth-child(10n+5) a {
        background-color: $palette-red-5;
    }

    &:nth-child(10n+6) a {
        background-color: $palette-red-3;
    }

    &:nth-child(10n+7) a {
        background-color: $palette-red-1;
    }

    &:nth-child(10n+8) a {
        background-color: $palette-red-5;
    }

    &:nth-child(10n+9) a {
        background-color: $palette-red-2;
    }

    &:nth-child(10n+10) a {
        background-color: $palette-red-4;
    }
}

.metro-grid {
    $items-per-row: 4;
    $items-margin: 5%;

    list-style-type: none;
    font-size: 0;
    margin: 0;
    padding: 0;

    li {
        position: relative;
        display: inline-block;

        padding: 0;
        margin: 0;

        $item-size: 100% / $items-per-row;

        width: $item-size;
        padding-bottom: $item-size;
        height: 0;

        font-size: $item-size/10% + rem;

        @include color-repeater;

        a {
            position: absolute;
            @include fillall;
            margin: $items-margin;

            color: #fff;
            font-weight: bold;

            text-align: center;

            transition: 100ms;

            &:focus,
            &:hover {
                transform: scale(1.1);
                background-color: #fff;
                color: $text-default;
                box-shadow: 0 0 50px rgba(#000, .8);
                apperance: none;
                outline: none;

                svg {
                    fill: $text-default;

                    * {
                        fill: $text-default !important;
                    }
                }
            }
        }
    }
}

.metro-grid-item-content {
    $icon-size: 4em;
    @include center(absolute, false, true);
    width: 100%;
    text-align: center;

    svg {
        display: block;
        margin: 0 auto 10px auto;
        width: 70%;
        height: 100%;
        max-height: 100px;
        fill: #fff;

        * {
            fill: #fff !important;
        }
    }
}

.metro-grid-item-image {
    @include fillall;
    background-size: cover;
    background-position: center center;
    opacity: .15;
}

.metro-grid-color-1 {
    background-color: $palette-red-1;
}

.metro-grid-color-2 {
    background-color: $palette-red-2;
}

.metro-grid-color-3 {
    background-color: $palette-red-3;
}

.metro-grid-color-4 {
    background-color: $palette-red-4;
}

.metro-grid-color-5 {
   	background-color: $palette-red-5;
}