
$panel-height: 600px;
$number-of-visible-items: 10;

#content {
	@include fillall();
	top: 46%;
	height: 959px;
	bottom: 205px;
	z-index: 25;
	padding: 40px;

	/* SINGLE PAGE */

	article, aside .inner {
		border: 1px solid $creamy-darker;
		background: #fff;
		margin-bottom: 40px; 
		
	}
	
	.image-max-height {
		overflow: hidden; 
		max-height: 242px; 
	}

	aside + article {
		width: 66%;
	}

	article {
		height: 68%;
		width: 100%;
		float: right;
		padding: 40px;
		position: relative;

		&:after {
		    content: "";
		    @include gradient(rgba(#fff,0), rgba(#fff,1));
		    position: absolute;
		    top: auto;
		    right: 0;
		    bottom: 49px;
		    left: 0;
		    height: 50px;
		    margin-bottom: 0;
		    z-index: 40;
	    }

	    &:before {
		    content: "";
		    @include gradient(rgba(#fff,1), rgba(#fff,0));
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: auto;
		    left: 0;
		    height: 50px;
		    margin-bottom: 0;
		    z-index: 40;
	    }

		.scroll-wrapper {
			@include fillall;
			overflow: auto;
			bottom: 49px;

			main {
				padding: 40px;
			}
		}

		h1,h2,h3,h4,h5,h6,h7 {
			line-height: 140%;
			padding-bottom: .5em;
			margin: 0;

			&.heading {
				line-height: 120%;
				color: #cb0050;
				font-size: 2.4em;
			}
		}

		ul,ol,p {
			line-height: 150%;
			font-size: 1.02em;
			padding-bottom: 1em;
			margin-bottom: 0;
			font-weight: 300;
			&:first-child {
				font-weight: 400;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}

		p + h2, p + h3,p + h4, p + h5, p + h6, p + h7,
		ol + h2, ol + h3,ol + h4, ol + h5, ol + h6, ol + h7,
		ul + h2, ul + h3,ul + h4, ul + h5, ul + h6, ul + h7,
		blockquote +  h2, blockquote +  h3,blockquote +  h4, blockquote +  h5, blockquote +  h6, blockquote +  h7 {
			padding-top: 15px*2;
		}

		h1 {
			font-size: 1.8em;
		}

		h2 {
			font-size: 1.4em;
		}

		h3 {
			font-size: 1.3em;
		}

		h4 {
			font-size: 1.2em;
		}

		h5 {
			font-size: 1.1em;
		}

		h6 {
			font-size: 1.1em;
		}

		h7 {
			font-size: 1.1em;
		}

		blockquote {
			border-left: 3px solid #ccc;
			margin-bottom: 15px;
			padding: 20px 35px;
			quotes: "\201C""\201D""\2018""\2019";
		}
		blockquote:before {
			color: #ccc;
			content: open-quote;
			font-size: 2em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		}

		blockquote:after {
			color: #ccc;
			content: close-quote;
			font-size: 2em;
			line-height: 0.1em;
			margin-left: 0.25em;
			vertical-align: -0.4em;
		}

		blockquote p {
			display: inline;
			margin: 0;
		}

		.row {
			[class*=' col-'] {
				&:first-child {
					p:first-of-type {
						font-style: italic;
						font-weight: bold;
						font-size: 1.1em;
					}
				}
			}

		}

		.nav-scroll {
			background-color: $creamy;
			border-top: 1px solid $creamy-darker;
			display: none;
			width: 100%;
			overflow: hidden;
			position: absolute;
			top: auto;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 50;

			.btn {
		        display: block;
		        width: 50%;
		        float: left;
		        padding: 10px;
		        text-indent: -5px;
		        &:last-child {
			        border-right: none;
		        }
		    }

			.btn-up,
		    .btn-down {
		        padding: 2.3rem;
		        font-size: 2.2rem;
		    }
		}

	}

	aside {
		width: 30%;
	 	margin: 0;
	 	float: left;
	 	ul {
		 	list-style: none;
		 	padding: 15px;
		 	margin: 0;
	 	}
 	}

	.page-main-slider {
		@include fillall();
		width: 100%;
		display: block;

		.slide-panel {
			@include fillall();
			width: 100%;
			padding: 40px;
			opacity: 1;
			transition: opacity 400ms ease;

			&:not(.is-selected) {
				opacity: 0;
			}




			/* List item */
			.list-group {
				border: 1px solid #eee;
				border-radius: 0 !important;
				margin-bottom: 0;
				box-shadow: 0 2px 3px rgba(0,0,0,0.02);

				&:before {
					border-top: 4px solid #cb0050;
					content: "";
					display: block;
				}

				.overflower {
					overflow: scroll;
					max-height: $panel-height;
					display: block;

					a {
						font-size: 1.2em;
						border: none;
						border-bottom: 1px solid #e7e5e1;
						margin-bottom: 0;
						padding: 0 20px;
						height: $panel-height/$number-of-visible-items;
						line-height: $panel-height/$number-of-visible-items;

						&:active, &:hover, &:visited {
							color: #ae0b05;
							background: #fff;
							display: block;
						}

						&:focus {
							color: #fff;
							background: #ae0b05;
						}

						&:last-child {
							border-bottom: none;
						}

						span.title {
							@include ellipsis(90%);
							display: block;
							float: left;
						}

						&:after {
							content: "";
							display: block;
							clear: both;
						}

					}
				}

			}

		}

	}
}

#content-headline {
	font-weight: normal;
	color: #fff;
	text-align: center;
	text-shadow: 0 0 30px rgba(#000,.6);
	margin: 0 0 40px 0;
    font-size: 55px;
}

.single #content {
	top: 58%;
}

.infomessage {
	color: #969696; 
	padding: 15px;
	font-size: .8em; 
	line-height: 160%; 
	h2 {
		margin-top: 0;
		font-size: 1.2em;
	}
}