
	$active-tab-offset: 20px; 

	footer {
		position: absolute; 
		top: auto; 
		right: 0; 
		bottom: 0; 
		left: 0;  
		overflow: hidden; 
		
		#category-nav {
			padding: 0; 
			margin: 0; 
			margin-bottom: -$active-tab-offset; 
			width: 100%;
			display: block; 
			position: relative; 
			
			div.slide-item {
				padding-top: $active-tab-offset; 
				transition: padding 100ms ease; 
				a {
					display: block; 
					padding-top: 56.25%; 
					width: 350px; 
					background-size: cover; 
					font-size: 2em; 
					font-weight: bold; 
					color: #fff; 
					position: relative; 
					border-top: 4px solid #cb0050;
					font-weight: 300; 
					text-transform: uppercase;
					transition: all 100ms ease; 
					
					&:before {
						@include fillall(); 
						transition: background 400ms ease;  
						background-color: rgba(#fff,.4); 
					}
					
					&:after {
						@include center(); 
						display: block; 
						content: attr(data-name); 
						width: 90%; 
						text-align: center; 
						line-height: 130%; 
					}
				}
				
				&.is-selected {
					
					padding-top: 0; 
					a {
						border-top-color: #f6f5f2; 
						font-size: 3em; 
						
						&:before {
							background-color: rgba(#cb0050,.95); 
						}
					}
					
					&:before {
						content: ""; 
					}
				}
				
			}
			
		}	
	}
	
	.flickity-prev-next-button {
		top: $active-tab-offset; 
		bottom: $active-tab-offset; 
		height: auto; 
		transform: none; 
		background: #fff; 
		border-radius: 0; 
		opacity: 1; 
		
		&.previous {
			left: 0; 
		}
		
		&.next {
			right: 0; 
		}
		
		&:active,
		&:focus {
			opacity: .9; 
		}
	}
	
	