
	header {
		background: #fff;
		width: 100%;
		padding: 30px 40px;

		/* Clearfix */
		&:after {
			content: "";
			clear: both;
			display: block;
		}

		.logo {
			display: block;
			width: 280px;
			position: relative;
			color: #1D1D1B;

			&:after {
				content: attr(data-subtitle);
				text-transform: uppercase;
				position: absolute;
				left: 73px;
			    top: 49px;
			    font-size: .8em;
			    font-weight: 400;
			}
		}

		.clock {

			span {
				display: block;

				&.time {
					font-size: 2.9em;
					font-weight: 400;
					line-height: 100%;
				}

				&.date {
					font-size: 1.1em;
					font-weight: 300;
					line-height: 100%;
				}
			}

		}

	}

	section#hero {

		position: relative;
		height: 50%;
		background-size: cover;
		overflow: hidden;

		/* Gradient */
		&:not(.no-gradient):after {
			@include gradient(rgba(#000,0), rgba(#000,.6));
			content: "";
			position: absolute;
			top: 80%;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 20;
		}

		&.map-area {
			&:after {
				@include gradient(rgba(#000,0),rgba(#000,.3));
				top: 80%;
			}
		}

		/* Map */
		.map-canvas {
			width: 110%;
			height: 110%;
			z-index: 15;
			margin: -5%;

			//Disable map scroll
			&:before {
				@include fillall();
				z-index: 40;
			}
		}

		.stripe {
			width: 20px;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			z-index: 30;

			div {
				width: 100%;
				height: 20%;

				&:nth-child(1) {
					background-color: #f7a600;
				}

				&:nth-child(2) {
					background-color: #cb0050;
				}

				&:nth-child(3) {
					background-color: #ec6701;
				}

				&:nth-child(4) {
					background-color: #ae0b05;
				}

				&:nth-child(5) {
					background-color: #e3000f;
				}

			}

		}

		.metro-grid-item {
			@include fillall;
			color: #fff;

			.metro-grid-item-content {
				font-size: 4em;
				text-align: center;
				line-height: 120%;

				svg {
					width: 50%;
					max-height: 400px;
				}
			}

		}

	}